#header{
    text-align: center;
    background-color: #b1b6bc;
    width: 100%;
}
#navbar{
    background-color: #e9ebef;
    margin-top: 0;
}


#navbar .btn{
    font-size: x-large;
}

#navbar .btn:hover{
    background-color: #dde1e6;
}

#csv-upload{
    margin-top: 5%;
    text-align: center;
}

#csv-upload .btn{
    margin-top: 5%;
    background-color: #e7e9ed;
}
#csv-upload .btn:hover{
    background-color: #dde1e6;
}

.input-error {
    border: 2px solid red;
}

#exports .btn{
    background-color: #a6cfff;
}

.odd-row{
    background-color: #f5f7f8;
}
.even-row{
    background-color: #dfe4e6;
}

#exports .btn:hover{
    background-color: #8dbaed;
}